<%- include('includes/header') %>
<%- include('includes/navbar') %>


    <main role="main" class="mt-5 pt-5" >

        <div class="contentOrgnizer">
            <h1 class="my-4">Seja Bem-vindo!</h1>

        <h3>Cadastros: </h3>
        </div> <!--contentOrgnizer-->
        

        <div class="organizeLinks mb-4 py-3">
            <a href="/registerClient">Cadastrar Cliente</a>
            <a href="/registerLentes">Cadastrar Stock de Lentes</a>
            <a href="/registerAros">Cadastrar Stock de Aros</a>
        </div><!--organizeLinks-->

        <div class="contentOrgnizer">
            <h3>Venda de Produtos: </h3>
        </div> <!--contentOrgnizer-->

       
        <div class="organizeLinks  mb-4 py-3">
        <a href="/vendaAros">Venda de Aros</a>
        <a href="/vendaLentes">Venda de Lentes</a>
        </div> <!--organizeLinks-->

        <div class="contentOrgnizer">
            <h3>Visualização de Tabelas: </h3>
        </div> <!--contentOrgnizer-->

      
        <div class="organizeLinks  mb-4 py-3">
        <a href="/viewCliente">Visualizar Tabela de Clientes</a>
        <a href="/viewStockAros">Visualizar Tabela de Stock de Aros</a>
        <a href="/viewStockLentes">Visualizar Tabela de Stock de Lentes</a>

        </div> <!--organizeLinks-->
        


    </main>


<%- include('includes/footer') %>