<%- include('includes/header') %>
<%- include('includes/navbar') %>


    <main role="main" class="mt-5 pt-5" >

        <div class="contentOrgnizer">
            <h1 class="my-4">Stock de Aros</h1>

      
        


    </main>


<%- include('includes/footer') %>