<%- include('includes/header') %>
<%- include('includes/navbar') %>


    <main role="main" class="mt-5 pt-5" >

        <div class="contentOrgnizer">
            <h1 class="my-4">Tabela de Clientes</h1>


            <div id="clientes">AQUI FICA O TEXTO</div>

        
            
            <table class="table table-bordered table-hovered tabela">
                <thead>
                   
                    <td>Id</td>
                    <td>Série</td>
                    <td>Nome</td>
                    <td>Apelido</td>
                    <td>Data de nascimento</td>
                    <td>Idade</td>
                    <td>Género</td>
                    <td>Residencia</td>
                    <td>Ocupação</td>
                    <td>Contacto</td>
                    <td>AV/SC</td>
                    <td>Prescrição</td>
                    <td>R/X</td>
                    <td>Tipo de Tratamento</td>
                    <td>Pagamento</td>
                 
                </thead>
                
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>

              




    </main>

    <script>
        console.log('Jornal')
    </script>

<%- include('includes/footer') %>